/* Map */
#map-canvas {
    height: 102%; /* +2 to hide Legal terms link for google maps */
    width: 75%;
}

#map-marker {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 37.5%;
    margin-left: -9px;
    margin-top: -10px;
    background: url(../img/marker.png) no-repeat;
}

/* Title */
#title {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 75%;
    margin-left: -32px;
    margin-top: -240px;
    font-size: 32px;
    letter-spacing: 0.1em;
}

#title span {
    display: block;
}

#title span.chinese {
    font-family: Kozuka Gothic Pr6N;
    font-weight: 400;
    font-size: 42px;
    margin-top: 4px;
}

/* Coordinates */
#coordinates {
    width: 35%;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    text-align: center;
    font-size: 62px;
    left: 20%;
    height: 0;
}

/* Fader */
#fader {
    background: #f6f4e9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s;
}

.updating #fader {
    opacity: .8;
    pointer-events: all;
}

/* Avoid elements blocking map touch */
#map-marker,
#coordinates,
#fader,
span {
    pointer-events: none;
}