/* Content
	
	Reset
	General
	Groups
	Map
	Map marker
	Coordinates

*/

/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	line-height:1;

	/* Prevent text selection */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* General */
@font-face {
    font-family: Brandon;
    src: url(typography/Brandon_blk.otf);
}

html { 
	font-family: Brandon;
	text-transform: uppercase;
	height: 100%;
	color: #fff;
	background: #fff;
	overflow: hidden;
}

body {
	height: 100%;
}

/* Groups */
.group {
	position: relative;
	width: 66%;
	height: 100%;
	overflow: hidden;
}

.group.sharjah {
	left: 33%;
	top: -100%;
	padding-left: 1%;
}

.canvasContainer {
	position: fixed;
	height: 50%;
	overflow: hidden;
	left: 50%;
	z-index: 1;
	background: #fff;
	-webkit-transform: translate(-50%,0);
}

.sharjah .canvasContainer {
	top: 50%;
}

.pattern {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%) rotate(90deg);
	background: #d6d6d6;
}

.sharjah .pattern {
	-webkit-transform: translate(-50%,-50%) rotate(-90deg);
}

/* Map */
.map.updating {
  opacity: .3;
}

.map {
	height: 150%;
	width: 75%;
	display: inline-block;
	float: left;
	-webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.map:before {
	content: '';
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/mapOverlay.png) repeat-x;
	-webkit-transform: rotate(180deg);
	pointer-events: none;
	z-index: 1;
}

.sharjah .map:before {
	-webkit-transform:rotate(0deg);
}

.sharjah .map {
	float: right;
	top: 0;
	width: 76%;
}

.dubai .map {
	top:-50%;
}

/* Map marker */
.map-marker {
	width: 20px;
	height: 20px;
	position: absolute;
	background: #fff;
	border-radius: 50%;
	left: 35%;
	top: 25%;
	pointer-events:none;
	text-shadow: 0 0 60px rgba(0,0,0,.3);
	box-shadow: 0 0 60px rgba(0,0,0,.3);
	z-index: 1;
}

.sharjah .map-marker {
	left: 62%;
	top: 75%;
}

/* Coordinates */
.map-marker:after {
	content: attr(data-content);
	position: absolute;
	font-size: 35px;
  	top: -115%;
	right: 150%;
	text-align: right;
}

.sharjah .map-marker:after {
	left: 150%;
	text-align: left;
}

.sharjah .coordinates {
	right: 5%;
	text-align: left;
	top: 75%;
}