/* Elements only created for test purpose */
.slider {
	width: 1000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0px;
}

input {
	width: 1000px;
}

.title {
	display: block;
	text-align: left;
}

button {
	margin: 50px 10px;
	padding: 10px;
}

/* Hide elements */
.slider, button {
	display: none;
}

canvas {
	top:0;
}